/* ******************* || INTRO ******************* */

#intro {
    height: 100vh;
    width: 100%;
    display: grid;
    color: white;
    position: relative;
}

.parallax {
    background: url("shared/images/annie-spratt-z2u4tUrNvmY-unsplash.jpg");
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    z-index: -2;
}

.intro__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2em 0.5em;
    z-index: -1;
}

.intro__title h2 {
    font-family: var(--font-main);
    font-weight: normal;
    font-size: 2rem;
}


/* ******************* || SKILLS ******************* */
#skills {
    text-align: center;
    padding: 1.5rem 0.5rem;
}

.skills-header {
    text-align: center;
    margin: 0 auto;
    font-family: var(--font-headers);
    font-size: 2em;
}

.skills-wrapper {
    margin: 1.5rem;
}

.skills-card {
    border-radius: 25px 25px 25px 0;
    border: 1px solid var(--color-primary);
    margin: 1em;
    min-height: 20vh;
    padding: 0.2em 1em;
    text-align: center;
}

.skills-card:nth-of-type(2) {
    border: 1px solid var(--color-secondary);
}

.skills-card__title {
    font-family: var(--font-headers);
    font-size: 2em;
    margin: 0.5em;
}

.skills-card__title span {
    -webkit-animation: 2s ease colorChange alternate infinite;
    -moz-animation: 2s ease colorChange alternate infinite;
    -o-animation: 2s ease colorChange alternate infinite;
    animation: 2s ease colorChange alternate infinite;
}

.skills-card__text small {
    font-size: 0.8em;
}

/* ******************* || EDUCATION ******************* */
#education {
    background-color: var(--color-primary);
    padding: 1rem;
    padding-top: 2em;
}

.education-header {
    color: white;
    margin-bottom: 3em;
    text-align: center;
}

.education-list__items {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.education-list__item a:hover,
.education-list__item a:active {
    color: var(--color-fonts-primary);
    font-weight: bold;
}

.edu-list__title {
    background-color: var(--color-fonts-primary);
    border-radius: 5px 5px 0 0;
    color: white;
    display: block;
    line-height: 2em;
    text-align: center;
    width: 100%;
}

.education-list__item {
    background-color: white;
    border-color: var(--color-primary-accent);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    font-size: 1rem;
    min-height: 3rem;
    padding: 5px;
    text-align: left;
    
}

.education-list__item a:hover,
.education-list__item a:active {
    color: var(--color-primary);
}

/* Rounds bottom corners of last certification for aesthetic reasons */
.education-list__item:last-of-type {
    border-radius: 0 0 5px 5px;
}

/* Desktop Layout */
@media (min-width: 1150px) {

    .intro__title {
        background-color: transparent;
    }
    
    /* ******************* || BACKGROUND ******************* */

    /* SKILLS */
    #skills {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10vh 5vw;
    }

    .skills-header {
        flex: 1 0 auto;
    }

    .skills-wrapper {
        display: flex;
        flex: 2 0 auto;
    }

    .skills-card {
        flex: 1 1 20%;     
        display: flex;   
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* EDUCATION */

    .education-list {
        display: flex;
        min-height: 20vh;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    /* For toggling the Education certifications */
    .edu-list__title {
        border-radius: 5px;
        cursor: pointer;
    }

    .education-list__dropdown {
        display: none;
    }

    .edu__dropdown-active .education-list__dropdown {
        display: block;
    }

    .edu-border__fix {
        border-radius: 5px 5px 0 0;
    }
    .edu-list__title:hover,
    .edu-list__title:active {
        color: var(--color-fonts-primary);
        background-color: var(--color-primary-accent);
    }

    .education-list__items {
        flex: 1 1 30%;
        margin: 1rem;
    }
}

/* || ANIMATIONS */
@keyframes colorChange {
    0% {
        color: var(--color-primary-accent);
    }

    100% {
        color: var(--color-primary);
    }
}
