/* ******************* || INTRO ******************* */

#intro {
    height: 100vh;
    width: 100%;
    display: grid;
    background: url("_shared/images/annie-spratt-z2u4tUrNvmY-unsplash.jpg");
    background-position: bottom;
    background-size: cover;
    color: white;
}

.intro__title {
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2em 0.5em;
}

.intro__title h2 {
    font-family: var(--font-main);
    font-weight: normal;
    font-size: 2rem;
}

/* ******************* || BACKGROUND ******************* */
#background {
    padding-top: 2rem;
    text-align: center;
    height: 100vh;
}

/* ******************* || SKILLS ******************* */
.skills-header {
    text-align: center;
    margin: 0 auto;
    font-family: var(--font-headers);
    font-size: 2em;
}

.skills-wrapper {
    width: 90%;
    margin: 0 auto;
}

.skills-card {
    border-radius: 25px 25px 25px 0;
    border: 1px solid var(--emerald);
    margin: 1em;
    padding: 0.2em 1em;
    text-align: center;
}

.skills-card:nth-of-type(2) {
    border: 1px solid var(--dark-orange);
}

.skills-card__title {
    font-family: var(--font-headers);
    font-size: 2em;
    margin: 0.5em;
}

.skills-card__title span {
    -webkit-animation: 2s ease colorChange alternate infinite;
    -moz-animation: 2s ease colorChange alternate infinite;
    -o-animation: 2s ease colorChange alternate infinite;
    animation: 2s ease colorChange alternate infinite;
}

.skills-card__text small {
    font-size: 0.8em;
}

/* ******************* || EDUCATION ******************* */
.education {
    background-color: var(--emerald);
    padding: 1rem;
    padding-top: 2em;
}

.education-header {
    text-align: center;
    margin-bottom: 3em;
    color: white;
}

.education-list__items {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.education-list__item a:hover,
.education-list__item a:active {
    color: var(--feldgrau);
    font-weight: bold;
}

.edu-list__title {
    background-color: var(--feldgrau);
    border-radius: 5px 5px 0 0;
    color: white;
    display: block;
    line-height: 2em;
    width: 100%;
}

.education-list__item {
    border-color: var(--light-green);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    font-size: 1rem;
    min-height: 3rem;
    padding: 5px;
    text-align: left;
    color: white;
}

.education-list__item a {
    color: white;
}

/* Rounds bottom corners of last certification for aesthetic reasons */
.education-list__item:last-of-type {
    border-radius: 0 0 5px 5px;
}

/* Desktop Layout */
@media (min-width: 780px) {

    .intro__title {
        background-color: transparent;
    }

    /* || BACKGROUND */
    .skills {
        min-height: 40vh;
    }

    .skills-wrapper {
        display: flex;
        min-height: 25vh;
    }

    .skills-card {
        flex: 1 1 30%;
    }

    .education {
        min-height: 40vh;
    }

    .education-list {
        display: flex;
        min-height: 20vh;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    /* For toggling the Education certifications */
    .edu-list__title {
        border-radius: 5px;
        cursor: pointer;
    }

    .education-list__dropdown {
        display: none;
    }

    .edu__dropdown-active .education-list__dropdown {
        display: block;
    }

    .edu-border__fix {
        border-radius: 5px 5px 0 0;
    }
    .edu-list__title:hover,
    .edu-list__title:active {
        color: var(--feldgrau);
        background-color: var(--light-green);
    }

    .education-list__items {
        flex: 1 1 30%;
        margin: 1rem;
    }
}

/* || ANIMATIONS */
@keyframes colorChange {
    0% {
        color: var(--light-green);
    }

    100% {
        color: var(--emerald-2);
    }
}
