:root {
    --color-fonts-primary: #627264ff;
    --color-primary-accent: #8ae788ff;
    --color-primary: #28ce6dff;
    --color-secondary: #ff8811ff;

    --font-main: "Raleway", sans-serif;
    --font-headers: "EB Garamond", serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: min(max(1rem, 3vh), 18px);
}

body {
    font-family: var(--font-main);
    margin: 0;
    color: var(--color-fonts-primary);
}
a {
    color: var(--color-fonts-primary);
    text-decoration: none;
}
a:focus,
button:focus {
    outline: none;
}
ul {
    list-style-type: none;
    padding: 0;
}

/* || Typography */
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-headers);
    margin: 0;
}

h1 {
    font-size: 3.5rem;
    font-weight: normal;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

/* || HR Styles */
.hr-primary {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
    );
}

.hr-secondary {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
}

/* ******************* || SCROLL BAR ******************* */
main::-webkit-scrollbar
{
  width: 10px;
  background-color: transparent;
}


main::-webkit-scrollbar-thumb
{
  background-color: var(--color-fonts-primary);
}

/* ******************* || NAVIGATION ******************* */
.main-nav__wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-nav {
    flex: 1 2 auto;
}

.main-nav__brand {
    text-align: center;
}

.main-nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-nav__item {
    font-size: calc(1.5rem + 6 * ((100vh - 550px) / 680));
    padding-top: 1em;
}

.portfolio-image {
    clip-path: circle();
    height: 20vh;
    min-height: 100px;
}

.socials__list {
    display: flex;
    justify-content: center;
    width: 60%;
    padding-bottom: 3rem;
    margin: 0 auto;
}

.socials__item {
    flex-basis: 30%;
    flex-grow: 1;
    text-align: center;
}

.main-nav__item a:hover,
.socials__item a:hover,
.main-nav__item a:active,
.socials__item a:active {
    color: var(--color-primary);
}

.main-footer__content p {
    font-size: 0.8em;
    padding: 0 0 10px 10px;
    margin: 0;
}

.js-mobile-menu-open {
    overflow: hidden;
    height: 100%;
}

/* ******************* || MEDIA QUERIES ******************* */
/* Menu overlay for mobile devices */
@media (max-width: 779px), (max-height: 539px) {
    #toggle {
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        background-color: transparent;
        border: none;
        z-index: 10;
        border: 3px solid var(--color-fonts-primary);
        color: var(--color-fonts-primary);
        border-radius: 5px;
    }

    .js-mobile-menu {
        color: white;
    }

    .collapse {
        display: none;
    }

    .main-nav__wrapper {
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        position: fixed;
        width: 100%;
        overflow-y: scroll;
        z-index: 1;
    }
    .main-nav__wrapper::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
    }
    
    .main-nav__wrapper::-webkit-scrollbar-thumb {
        background-color: var(--color-fonts-primary);
    }

    .main-nav__wrapper a {
        color: white;
    }
}

@media (max-height: 460px) and (min-width: 500px) {
    
    
    .main-nav__list {
        flex-direction: row;
        justify-content: center;
    }

    .main-nav__item {
        margin: 0.5em 1em;
        padding-top: 0;
    }

    .socials__list {
        padding-bottom: 0;
    }
}

@media (min-width: 780px) and (min-height: 540px) {
    /* || LAYOUT */
    body {
        display: flex;
        height: 100vh;
        overflow: hidden;
    }

    main {
        height: 100%;
        flex: 3 1 auto;
        overflow-y: scroll;
    }
    

    /* || NAVIGATION */
    #toggle {
        display: none;
    }

    .side-navigation {
        flex: 1 0 300px;
        height: 100%;
        box-shadow: 3px 0 3px rgba(0,0,0,0.2);
    }
}